<!doctype html>
<html>

<head>
    <title>Protetor de PDF</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Protetor de PDF</h1>
        <h2>Suba seu PDF para protegê-lo contra pirataria</h2>
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <div>
                <label for="cpf">CPF</label><br>
                {{ form.cpf(size=20) }}
            </div>

            <div>
                <label for="position">Posição</label><br>
                {{ form.position() }}
            </div>

            <div>
                <label for="color">Cor</label><br>
                <input type="color" name="color" id="color">
            </div>

            <div>
                <label for="file">Escolher arquivo</label><br>
                <input type="file" name="file" id="file">
            </div>

            <div>
                <input type="submit" value="Submeter">
            </div>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

        </form>
    </div>
</body>

</html>